{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
<h1>Academics</h1>
<div class="pgf-cont">   
   <h2>The Academic Year</h2>
   <div class="pgf-inn">
        <div class="pgf-txt">
           <p>The Academic Year usually starts on the 1st of April, each year. In the First session, classes are conducted for about 3 weeks subsequent to which the summer vacation is given for an about 6 weeks. School usually reopens during the 2nd Week of June.</p>
           <h4>The Annual Academic Session is divided into two terms (semesters).</h4>
           <ul>
            <li>The First Term   - April to September</li>
            <li> The Second Term         - October to March</li>
           </ul>
        </div>
  </div>
</div>
<h1>EXPERIENTIAL LEARNING AT ITS BEST</h1>
{% for x in academicsData %}
   <div class="pgf-cont">
      {% if x.title %}
      <h2>{{x.title}}</h2>
      {% endif %}
      <div class="pgf-inn">

          <div class="pgf-img">
              {% if x.upload_image %}
              <img  src="{{ x.upload_image }}" alt="image">
              {% endif %}
            </div>
            <div class="pgf-txt">
               <p>{{x.paragraph_data|safe}}</p>
            </div>
      </div>
   </div>
  
   {% endfor %}
</div>
{% endblock %}