{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
   <h1>Admissions</h1>
   {% for x in admissionsData %}
   <div class="pgf-cont">
      {% if x.title %}
      <h2>{{x.title}}</h2>
      {% endif %}
      <div class="pgf-inn">

         {% if x.upload_image %}
         {% if x.title == 'Fee Structure' %}
         <div style="width: 100%;" class="pgf-img">
            <img src="{{ x.upload_image }}" alt="image">
         </div>
         {% else %}
         <div class="pgf-img">
            <img src="{{ x.upload_image }}" alt="image">
         </div>
         {% endif %}
         {% endif %}
         {% if x.paragraph_data|safe != "." %}
         <div class="pgf-txt">
           
            <p>{{x.paragraph_data|safe}}</p>
           
         </div>
         {% endif %}
      </div>
   </div>

   {% endfor %}
</div>
<script>
   let navDD = document.getElementsByClassName("actNav");
   for (let i = 0; i < navDD.length; i++) {
       navDD[i].className = navDD[i].className.replace(" active", "");
   }
   navDD[0].className += " active";
   navDD[9].className += " active";
   let navDi = document.getElementsByClassName("dropdown-item");
   for (let i = 0; i < navDi.length; i++) {
       navDi[i].className = navDi[i].className.replace(" active", "");
   }
   navDi[0].className += " active";
   navDi[15].className += " active";
</script>
{% endblock %}