{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
    <h1>Curriculum & Syllabus</h1>

    <div class="pgf-cont">

        <p>The medium of Instruction is English.</p>

<ul>
	<li>LKG &amp; UKG</li>
	<li>Classes I to V
	<ul>
		<li>English</li>
		<li>Mathematics</li>
		<li>Environmental Science</li>
		<li>2nd language: Hindi / Telugu</li>
		<li>Computer Science</li>
		<li>Life Skills</li>
	</ul>
	</li>
	<li>Classes VI to IX
	<ul>
		<li>English</li>
		<li>Mathematics</li>
		<li>Environmental Science</li>
		<li>2nd language: Hindi / Telugu</li>
		<li>3rd language: Telugu / Hindi&nbsp;</li>
		<li>Computer Science</li>
		<li>Life Skills</li>
	</ul>
	</li>
</ul>
<h4>Syllabus</h4>

<ul>
	<li>LKG &amp; UKG</li>
	<li>Classes I to V</li>
	<li>Classes VI to IX</li>
</ul>
    </div>

</div>
{% endblock %}