{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
    <h1>Downloads</h1>
    <div class="pgf-cont">
        <div class="pgf-inn" style="padding: 10px;">
            <table style="margin: 0; width: 100%;">
            {% for x in download %}
          
                <tr>
                    <th>{{x.date|safe}}</th>
                    <td style="border: 1px solid gold;"><a href="{{x.upload_pdf}}" target="_blank">{{x.title}}</a></td>
                </tr>
           
            {% endfor %}
        </table>
        </div>
    </div>

</div>
{% endblock %}