{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
<h1>Extra Curricular Activities</h1>

<p>Extra Curricular Activities involve various activities like</p>
<ul>
    <li>Aerobics</li>
    <li>Cricket</li>
<li>Zumba</li>
<li>Dance</li>
<li>Music(Vocal)</li>
<li>Art & Craft</li>
<li>Tennis</li>
</ul>

<p>Students have to choose any one activity from the given list in pursuit of their personality development.</p>

{% for x in ECAData %}
   <div class="pgf-cont">
      {% if x.title %}
      <h2>{{x.title}}</h2>
      {% endif %}
      <div class="pgf-inn">

         <div class="pgf-txt">
            <p>   
               {{x.paragraph_data|safe}}</p>
         </div>
         <div class="pgf-img">
            {% if x.upload_image %}
            <img width="450px" src="{{ x.upload_image }}" alt="image">
            {% endif %}
         </div>
      </div>
   </div>
   
   {% endfor %}
 
</div>
{% endblock %}