{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
<h1>Educational Tours And Field Trips</h1>

{% for x in EDUCATIONAL_TOURSData %}
   <div class="pgf-cont">
      {% if x.title %}
      <h2>{{x.title}}</h2>
      {% endif %}
      <div class="pgf-inn">

         <div class="pgf-txt">
            <p>   
               {{x.paragraph_data|safe}}</p>
         </div>
         <div class="pgf-img">
            {% if x.upload_image %}
            <img width="450px" src="{{ x.upload_image }}" alt="image">
            {% endif %}
         </div>
      </div>
   </div>
   
   {% endfor %}
 
</div>
<script>
	let navDD = document.getElementsByClassName("actNav");
	for (let i = 0; i < navDD.length; i++) {
		navDD[i].className = navDD[i].className.replace(" active", "");
	}
	navDD[11].className += " active";
	let navDi = document.getElementsByClassName("dropdown-item");
	for (let i = 0; i < navDi.length; i++) {
		navDi[i].className = navDi[i].className.replace(" active", "");
	}
	navDi[42].className += " active";
	
 </script>
{% endblock %}