{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .flip_cnt {
        max-width: 100%;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flip_cnt .card {
        position: relative;
        margin: 20px 0;
        width: 300px;
        height: 400px;
        background: #fff;
        transform-style: preserve-3d;
        transform: perspective(2000px);
        transition: 1s;
        box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
    }

    .flip_cnt .card:hover {
        z-index: 1000;
        transform: perspective(2000px) rotate(-10deg);
        box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
    }

    .flip_cnt .card .imgBox {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        box-sizing: border-box;
        transform-origin: left;
        z-index: 1;
        transition: 1s;
    }
    .flip_cnt .card .imgBox .imgTitle{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 217, 0, 0.472);
        color: maroon;
        text-align: center;
        font-size: 19px;
    }

    .flip_cnt .card:hover .imgBox {
        transform: rotateY(-135deg);
    }

    .flip_cnt .card .imgBox img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .flip_cnt .card .details {
        position: absolute;
        text-align: justify;
        box-sizing: border-box;
        width: 100%;
        height: 370px;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 10px 5px 0px 10px;
        overflow: auto;
         

    }

    .flip_cnt .card .details div {        
        font-size: 19px;
        margin-left: 17px;
        margin-bottom: 10px;
        color: maroon;
    }

    .flip_cnt .card .details p {
        font-size: 16px;
        color: maroon;

    }
    .flip_cnt .card .details a{
        position: fixed;
        bottom: 0px;
        right: 10px;
        font-size: 16px;
        color: blue;
        text-decoration: none;
        width: 130px;
        height: 25px;
        border-radius: 15px;
        transition: 0.3s;
        padding: 0 5px;
        text-align: center;
        border: 1px solid aqua;
    }
    .flip_cnt .card .details a:hover{
        background-color: aqua;
    }
  
</style>
<br>
<div class="main-box">
    <div class="pgf-cont">
        <h1>Events</h1>

        <div class="flip_cnt">
            {% for event in events %}
            <div class="card">
                <div class="imgBox">
                    <img src="{{event.upload_image.url}}" alt="Eventimage">
                    <div class="imgTitle">{{event.title}}</div>
                </div>
                <div class="details" onclick="showIf()">
                    <div>{{event.title}}</div>
                    <p>{{event.paragraph_data|safe}}</p>
                    <a href="{% url 'jhps_main_app:eventDetail' event.id %}">More images</a>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>

</div>


{% endblock %}