{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
    <h1>Faculty</h1>

    <div class="pgf-cont">

        
<table>
	<tbody>
		<tr>
			<td><strong>S.No</strong></td>
			<td><strong>Staff Name</strong></td>
			<td><strong>Staff Designation</strong></td>
		</tr>
		<tr>
			<td>1</td>
			<td>Ramesh Kumar Katta</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Jhansi Yalamarthi</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Koppisetti Gopinath</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Brahmendra Kumar Sonthineni</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>5</td>
			<td>PADMA PRIYA CHITRADA</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>6</td>
			<td>SRINIVAS BANDI</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>7</td>
			<td>P JYOTSNA</td>
			<td>ADMINISTRATION</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Srujana Devi Bakki</td>
			<td>Computer</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Priyanka Manganoor</td>
			<td>Dance</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Nalini Papagari</td>
			<td>English</td>
		</tr>
		<tr>
			<td>11</td>
			<td>MADHURITA ETHA</td>
			<td>English</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Jayamani K</td>
			<td>English</td>
		</tr>
		<tr>
			<td>13</td>
			<td>S R SHIVANI</td>
			<td>English</td>
		</tr>
		<tr>
			<td>14</td>
			<td>JUDITH BERNADETTE LUCAS</td>
			<td>English</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Pushpa Kumari Bisht</td>
			<td>Hindi</td>
		</tr>
		<tr>
			<td>16</td>
			<td>SANDEEP KUMAR TIRUNAGIRI</td>
			<td>Hindi</td>
		</tr>
		<tr>
			<td>17</td>
			<td>Ramesh S</td>
			<td>Library</td>
		</tr>
		<tr>
			<td>18</td>
			<td>MAMATHA POLAGONI</td>
			<td>MATHEMATICS</td>
		</tr>
		<tr>
			<td>19</td>
			<td>SHYAMALA ABBURI</td>
			<td>MATHEMATICS</td>
		</tr>
		<tr>
			<td>20</td>
			<td>NAGAMANI JANGA</td>
			<td>MATHEMATICS</td>
		</tr>
		<tr>
			<td>21</td>
			<td>SHASHI KUMAR MATTEMALLA</td>
			<td>MATHEMATICS</td>
		</tr>
		<tr>
			<td>22</td>
			<td>KIRANMAYEE MIDIDODDY</td>
			<td>MATHEMATICS</td>
		</tr>
		<tr>
			<td>23</td>
			<td>Jaya Amruth Raj Erujala</td>
			<td>PHYSICAL EDUCATION</td>
		</tr>
		<tr>
			<td>24</td>
			<td>Sangeetha Ananthula</td>
			<td>PREPRIMARY</td>
		</tr>
		<tr>
			<td>25</td>
			<td>ADIBHATLA VANDANA</td>
			<td>PREPRIMARY</td>
		</tr>
		<tr>
			<td>26</td>
			<td>Ramya N Venkata Nagamani</td>
			<td>Science</td>
		</tr>
		<tr>
			<td>27</td>
			<td>Shravani Powrohitam</td>
			<td>Science</td>
		</tr>
		<tr>
			<td>28</td>
			<td>Chaitanya lakshmi K</td>
			<td>Science</td>
		</tr>
		<tr>
			<td>29</td>
			<td>Prem Lata Verma</td>
			<td>Social Science</td>
		</tr>
		<tr>
			<td>30</td>
			<td>RAJYALAKSHMI ARALA</td>
			<td>Social Science</td>
		</tr>
		<tr>
			<td>31</td>
			<td>SUKANYA D</td>
			<td>Social Science</td>
		</tr>
		<tr>
			<td>32</td>
			<td>Abhilash Goud</td>
			<td>Telugu</td>
		</tr>
		<tr>
			<td>33</td>
			<td>THOTA PUSHPALATA</td>
			<td>Telugu</td>
		</tr>
	</tbody>
</table>


    </div>

</div>
{% endblock %}