{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .contBox {
        display: flex;
    }

    .imgCard {
        margin: 10px;
        width: 400px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        background: #fff;
        transition: 0.3s;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .imgCard:hover {
        box-shadow: 2px 2px 2px 5px rgba(255, 0, 0, 0.5);
    }

    .imgCard .imgBox {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .imgCard .imgBox img {
        /* position: absolute;
        top: 0;
        left: 0; */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgCard .imgBox .imgTitle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 217, 0, 0.472);
        color: maroon;
        text-align: center;
        font-size: 25px;
    }

    @media only screen and (max-width:600px) {
        .contBox {
            flex-direction: column;
        }
    }
</style>
<br>
<div class="main-box">
    <div class="pgf-cont">
        <h1>Image Gallery</h1>
        <div class="contBox">

            {% for event in events %}
            <div class="imgCard">
                <a href="{% url 'jhps_main_app:galleryDetail' event.id %}">
                    <div class="imgBox">
                        <img src="{{event.upload_image.url}}" alt="Eventimage">
                        <div class="imgTitle">{{event.title}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}