{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="mvr_ss">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'ss/1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'ss/2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'ss/3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'ss/4.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'ss/5.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'ss/6.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button touch="true" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button touch="true" class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

<div id="co_menu2" onclick="clsBtn(this)" class="co_m2_box">
    <!-- <img src="{% static 'images/str1.gif' %}" alt="BG JHPS"> -->
    <div class="co_m2">
        <img src="{% static 'images/bg1.gif' %}" alt="BG JHPS">
        <div class="co_box">
            <span class="close_btn">&times;</span>
            <div class="sm1"> <a href="{% url 'jhps_main_app:StudentEnquiry' %}"> Admissions <br>for 2023-24 <br>in
                    progress
                </a></div>
            <div class="sm2"> <a href="{% url 'jhps_main_app:ReferAStudent' %}"> Refer A Student </a></div>
            <div class="sm3"> <a href="{% static 'pdf/JHPS_Application_Form.pdf' %}" target="_blank">Download
                    Application Form </a></div>
        </div>
    </div>
</div>
<div class="l2">
    <div class="l2-inn"></div>
    <div class="l2-inn2">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Welcome')" id="defaultOpen">Welcome</button>
                <button class="tablinks" onclick="openCity(event, 'Vision')">Vision</button>
                <button class="tablinks" onclick="openCity(event, 'Mission')">Mission</button>
            </div>

            <div id="Welcome" class="tabcontent">
                <h3>Welcome to Jubilee Hills Public School</h3>
                <p>
                    Jubilee Hills Public School, Rampally established in 2016, sponsored by the "Jubilee Hills
                    Education Society" a non- profit organization aims at providing high quality education at the
                    Primary, Secondary and Senior Secondary under the CBSE pattern. This School is a non-profit
                    organization has been set up for disseminating education to every strata of the Society.
                </p>
                <p>
                    Jubilee Hills Public School, Rampally is located near Keesara in a 6 acre campus amidst huge
                    expansive greenery.
                </p>
                <p>
                    The endeavor is to provide students with overall personality development through academic
                    excellence and communicative, creative and sportive skills and build their confidence while
                    being rooted to their own culture with a mindset to be both modern and democratic.</p>
            </div>

            <div id="Vision" class="tabcontent">
                <h3>Vision</h3>
                <p>"The School will develop and utilize the opportunities inherent in the information society to
                    improve quality of life, knowledge, international competitiveness and interaction in an
                    exemplary, versatile and sustainable way. The school will nurture the students in desired values
                    and culture as is expected of a good society".</p>
            </div>

            <div id="Mission" class="tabcontent">
                <h3>Mission</h3>
                <p>
                    Educational establishment will be innovative center of learning where teachers will collaborate
                    with students in developing new pedagogical (teaching / learning) applications. The school will
                    have greater responsibility for preventing social exclusion. The use of networks for tutoring
                    and support will become more frequent to avoid children opting for tuition shops.
                </p>
                <p>
                    Students will be continuously supported in the transition phase between different educational
                    levels. Education will be imparted with a premise that “every child can learn” The institution
                    will strive in future to learn how to exploit tacit knowledge to explicit knowledge.
                </p>
            </div>

            <script>
                function openCity(evt, cityName) {
                    var i, tabcontent, tablinks;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    document.getElementById(cityName).style.display = "block";
                    evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
    </div>
</div>
<div class="l3"></div>


{% endblock %}