{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
   <h1>School Management Committee</h1>
   
      {% for x in SMCommitteeData %}
      <div class="pgf-cont" style="width: 60%; text-align: left; padding: 0;">
        
         <h2 style="text-align: left; padding: 10px 20px;">{{x.member_name}}</h2>
               
               <p style="margin: 0;">   
                  {{x.designation}}</p>
            
            
         
      </div>
      {% endfor %}
   
</div>
</div>


</div>

<script>
   let navDD = document.getElementsByClassName("actNav");
   for (let i = 0; i < navDD.length; i++) {
       navDD[i].className = navDD[i].className.replace(" active", "");
   }
   navDD[6].className += " active";
   let navDi = document.getElementsByClassName("dropdown-item");
   for (let i = 0; i < navDi.length; i++) {
       navDi[i].className = navDi[i].className.replace(" active", "");
   }
   navDi[7].className += " active";

</script>
{% endblock %}