
{% extends "base.html" %}
{% block content %}
<div class="form_box">
<h1>Student Admission Enquiry</h1>
<div class="form_box_inn">
{% if submitted %}
<h1>We Received your details.....</h1>
{% else %}

    <form action="" method="POST">
        {% csrf_token %}          
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-success">  
    </form>
    {% endif %}
    </div>
</div>
<script>
    let sd = document.getElementsByTagName('select');
    for (let i of sd){
        i.setAttribute('class', 'form-select');
    }
</script>
{% endblock %}