{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
    <h1>School Timings</h1>

    <div class="pgf-cont">

        <p><strong>Regular School Timings:</strong></p>
        
        <p>Pre-Primary and Primary</p>
        
        <p>School Timings: 8.30 a.m to 3.00 p.m.</p>
        
    </div>

</div>
<script>
    let navDD = document.getElementsByClassName("actNav");
    for (let i = 0; i < navDD.length; i++) {
        navDD[i].className = navDD[i].className.replace(" active", "");
    }
    navDD[9].className += " active";
    let navDi = document.getElementsByClassName("dropdown-item");
    for (let i = 0; i < navDi.length; i++) {
        navDi[i].className = navDi[i].className.replace(" active", "");
    }
    navDi[23].className += " active";
 </script>
{% endblock %}