{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-box">
    <div class="pgf-cont">


<h1 >Video Gallery</h1>
<div class="video_gal">
    <div class="videoRow">
        <div class="column">
            <iframe  width="100%" src="https://www.youtube.com/embed/CtCsH-aq_gg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="column">
            <iframe width="100%" src="https://www.youtube.com/embed/leBGQbVCkCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
        <div class="column">
            <iframe  width="100%" src="https://www.youtube.com/embed/YHnGTLHUGZA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="column">
            <iframe  width="100%" src="https://www.youtube.com/embed/usr3zhN7jJI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="column">
            <iframe  width="100%" src="https://www.youtube.com/embed/9wBleVW0bA0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="column">
            <iframe  width="100%" src="https://www.youtube.com/embed/scsc7k068_U"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="column">
            <iframe  width="100%" src="https://www.youtube.com/embed/utKLYSPcVOw"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="column">
            <iframe width="100%" src="https://www.youtube.com/embed/i6Lzu842KZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

    </div>
</div>
</div>
</div>

{% endblock %}